<%= simple_form_for(@stem, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>


<p class="upload_audio">Upload Audio <%= f.file_field :audio %></p>


<div class="form-actions">
	<%= f.button :submit, class: "btn btn-primary" %>
</div>

  <% end %>