<% if user_signed_in? %>

	<%= render 'public_activity/index' %>


<% else %>

<div class="hero-unit">
<h1>Welcome to VIVIDAURA</h1>
<p>VIVIDAURA allows musicians to collaborate world wide without the use of constant emailing and zipping.</p>
<p>Made by a producer, for producers</p>
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</div>

<div class="row">
	<div class="span4">
		<h1>Track Timeline</h1>
		<p>
		View the individual stems of a track, while seeing the time it was posted and by who. Stems support MP3 and WAV file format. When the track is all said and done, press the "Play All" button to listen as a full track.
		</p>
	</div>
	<div class="span4">
		<h1>Collaborate</h1>
		<p>
		Find tracks that inspire you and add your input. You can add stems to tracks which will then be placed in a queue for the track owner to accept. Full credit is given to each contributer that links back to his/her profile. Follow people that inspire you to keep track of their activity.
		</p>
	</div>
	<div class="span4">
		<h1>Public & Private</h1>
		<p>
		Choose between creating a public track for people to find and add input to. Or create a private track and add collaboraters by entering their email they registered with. You a producer and have someone artist your working with already, and dont want the world to see? Just make a private track and send out the link.
		</p>
	</div>



<% end %>

