<% if user_signed_in? %>
<div class="row">
	<div class="span4">
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Welcome back <%= current_user.username %></p>
	</div>
</div>
</div>
<div class="well well-small">
	<%= render 'public_activity/index' %>
</div>

<% else %>

<div class="hero-unit">
<h1>Welcome to VIVIDAURA</h1>
<p>VIVIDAURA is a service that allows musicians to collaberate world wide without the use of constant emailing and compressing.</p>
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</div>

<% end %>
