$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarBrandColor: #2ECC71;
$btnPrimaryBackgroundHighlight: #27AE60;
$btnPrimaryBackground: #2ECC71;
$dropdownLinkBackgroundHover: #2ECC71;

@import 'bootstrap';


a {
  color: #2ECC71;
}

a:hover {
  color: #27AE60;
  text-decoration: none;
}


body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

.track_space {
  margin: 20px;
}

.stemtitle {
  padding-top: 30px;
}

