$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarBrandColor: #2ECC71;
$btnPrimaryBackgroundHighlight: #27AE60;
$btnPrimaryBackground: #2ECC71;

@import 'bootstrap';
@import 'bootstrap-responsive';

.wrapper {
  padding-top: 50px;
}

a {
  color: #2ECC71;
}

a:hover {
  color: #27AE60;
  text-decoration: none;
}








